body {
  background: lightblue;
  font-family: Arial;
  margin: 40px;
}

h1 {
  color: blue;
  text-align: center;
}

div {
  background: white;
  padding: 15px;
  margin: 15px;
}

.project img{
 width: 300px;
 height: 300px;
 margin: 10px;
 border: 2px solid purple;
 display: block;
 margin: auto;
}